%html
  %head
    %title FLMS Demo
    = stylesheet_link_tag 'public'
    %meta{:"http-equiv" => "Content-Type", "content" => "charset=UTF-8"}
  %body
    #pagescroller
      #page
        - @page.active_blocks.each do |block|
          - block.layers.ordered_by_scroll_start.each do |layer|
            = render partial: 'layer', locals: { layer: layer }

= javascript_include_tag 'application.js'
:javascript
  $(document).ready(function(){
    skrollr.init()
  });
