#pagescroller
  #page
    - page.blocks_to_display_with_offsets.each do |item|
      = render partial: 'flms/elements/block', locals: { block: item[:block], scroll_offset: item[:scroll_offset] }

  #blocknav
    %ul
      - page.blocks_to_display_with_offsets.each do |item|
        %li
          - thumbstyle = item[:block].thumbnail? ? "background-image: url(#{ item[:block].thumbnail.thumb.url })" : ''
          .thumb{ id: item[:block].name, style: thumbstyle }
          .name{ id: item[:block].name }= item[:block].name
          %a{ href: "\##{ item[:block].name }", id: item[:block].name, data: { scrollpos: item[:scroll_offset] } }
