#skrollr-body
  #page
    - page.blocks_to_display_with_offsets.each do |item|
      = render partial: 'flms/elements/block', locals: { block: item[:block], scroll_offset: item[:scroll_offset] }

  #blocknav
    %ul
      - page.blocks_to_display_with_offsets.each do |item|
        %li{ id: item[:block].name, style: block_thumbnail_div_background_style(item[:block]) }
          .name{ id: item[:block].name }= item[:block].title
          %a{ href: "\##{ item[:block].name }", id: item[:block].name, data: { scrollpos: item[:scroll_offset] } }
